<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1 class="txt2">Demande de
			{{ contact.fullName }}</h1>

		<p class="txt2">Email :
			{{ contact.email }}</p>
		<p class="txt2">Sujet :
			{{ contact.subject }}</p>
		<p class="txt2">Message :</p>
		<div>
			{{ contact.message|raw }}
		</div>
	</body>
</html>

